Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list popular languages for data science
- list examples of open-source tools used in data science
- list examples of cloud-based tools used in data science

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. tidyverse
3. ggplot2

|Data Science Tools|
|------------------|
|R Studio|
|Jupyter Notebooks|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [26]:
#This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Jaim Bourg